student{
display:block;
margin-top:10pt;
}
usn{
display:block;
color:yellow;
margin-left:20pt;
font-size:20px;
}
name{
display:block;
color:pink;
margin-left:20pt;
font-size:20px;
}
COLLEGE{
display:block;
color:hotpink;
margin-left:20pt;
font-size:20px;
}
number{

display:block;
color:red;
margin-left:20pt;
font-size:20px;

}
